<h1>The Burger Shop</h1>

<form id ="removeLink" action = "removeOutOfStock" method ="POST">
	<input type = "submit" value = "Remove Out of Stock Items">
</form>

<table cellpadding="5">
  <h2><b>Burger Ingredients</b></h2>
  <tr>
    <th>Item</th>
    <th>Price</th>
    <th>Out of Stock</th>
  </tr>
{{#each list}}
  <tr class = "ingredients">
    <td class = "name">{{this.name}}</td>
    <td class = "price">${{this.price}}</td>
    <td class = "outOfStock">{{this.outOfStock}}</td>
  </tr>
      {{/each}}
</table>

<h2> Add New Ingredient </h2>
<p>
<form id="ajax-form" action="addNew" method="POST">
  Name: <input type="text" name="name"/><br/>
  Price: <input type="number" name="price"/><br/>
  <input type="submit" value="Submit">
</form>
</p>